@charset "utf-8";
/* CSS Document */
/*** HTML5移动重置样式表*/
/* ============================ 重置css样式 ============================ */
/* 设置默认字体 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote,
th, td, hr, button, article, aside, figcaption, figure, footer, header, section, a, span,table {
    font-family:"微软雅黑","黑体","_sans";
    font-weight: normal;
    text-shadow:0;
    margin: 0;
    -webkit-tap-highlight-color:transparent;
}
/*重置苹果默认按钮样式*/
input{-webkit-appearance:none; border:none;}
/* 重置文本格式元素 */
a{text-decoration:none;}
a:focus{outline:none;}
/*Remove most spacing between table cells.*/
table {*border-collapse: collapse;border-spacing: 0;width: 100%;}
td,th {padding: 0;}
/* ========================= 页面常用样式 CSS样式 =========================== */
html,body{width:100%; overflow-x:hidden;}
body{-text-size-adjust:none; overflow:hidden; -webkit-user-select:none; -webkit-tap-highlight-color:none;}
/*清除浮动*/
.clearfix:after{display:block; clear:both; height:0; visibility:hidden; content:" ";}
/*设置class名清除*/
.clearit { clear:both; height:0; font-size:0; overflow:hidden;}
/*超出文字显示点点点*/
.-automation-hide{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
/*按钮样式*/
.-b-button {display:block;width:100%;height:50px;;background-color:#ff4400;text-align:center;font-weight:normal;font-size:20px;color:#ffffff;line-height:55px;border-radius:5px;}
